
body
{ 
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-color: rgb(8, 8, 240);
    color: aliceblue; 
}

header {
    padding: 150px;
    text-align: center;
    font-size: 50px;
    background-image: src="./Kuvat/Selfie.jpg" width="550";
    color: aliceblue;
    text-decoration: underline;
}

section{
    padding: 30px;
    background-color: rgb(9, 85, 25);
    width: 60%;
    max-width: 60%;
    float: left;
    font-size: 23px;
    color: rgb(207, 207, 207);
    border-style: solid;
   border-width: medium;
    border-radius: 20px;
    margin-bottom: 60px;   
}

h1{
    text-align: center;
    text-decoration: underline;
}

.topnav{
    font-size: 23px;
    padding: 20px;
    background-color: black;
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;    
}

.Face{
    border: solid;
    border-width: medium;
    background-color: black;
    border-radius: 20px;
    max-width: 100%;
}

ul{
    color: azure;
    font-size: 23px;
}

a{
    display: inline-block;
    padding: 5px;
    background-color: gray;
}

a:link{
    color: rgb(9, 255, 0); 
    text-decoration: none;   
}

a:visited{
    color: rgb(34, 34, 34);
    text-decoration: underline;
}

a:hover{
    color: rgb(255, 208, 0);
}

.Experience{
}

img{
    border-radius: 20px;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

div.desc {
    padding: 15px;
    text-align: center;
}
